body{
    font-size: 0.9rem;
}

.bg-blue,
.bg-blu{
    background-color: #053559
}

h1{
    color: #053559;
}

.bg-light-blue,
.bg-light-blu {
    background-color: #084c79
}

.color-blue, .color-blu{
    color: #053559;
}

.color-light-blue {
    color: #084c79;
}



input, select{
    border-radius: 0px!important;
}


.no-label-input{
    margin-top: 32px;
}

.btn{
    padding: 0.3rem 3.5rem;
    border-radius: 0px!important;
}

.btn-blue{
    background-color: #053559;
    color: #fff;
}

.footer {

    font-size: 0.8rem;
}

.footer .links-container{
    padding: 4rem 0rem;
}

.footer a{
    color: #212529;
    text-decoration: none;
}

.footer .menu-title{
    color: #084c79;
    font-size: 1rem;
}

.carousel-indicators{
    bottom: -45px;
}


.select2-selection.select2-selection--single{
    border-radius: 0px!important;
    border: 1px solid #ced4da!important;
    height: 40px!important;
    padding-top: 9px!important;
}
